/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fb;
    color: #333;
    scroll-behavior: smooth;
}
/* Header Section */
header {
    background:#003580;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #dce8ff;
}


#hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #eef3fb;
}

#hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000000;
}

#hero p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
}


#about {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#about img {
        display: block;
        margin: 0 auto 20px;
        width: 100px;
        border-radius: 50%;
      }

#skills {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

/* Skills Table */
table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #004aad;
    padding: 10px;
  }
  
  th {
    background-color: #004aad;
    color: white;
  }
  

/* Projects Section */
#projects {
    background-color: #f4f7fc;
    padding: 50px 20px;
}

#projects h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

#projects ul {
    list-style-type: none;
    max-width: 700px;
    margin: 0 auto;
}

#projects li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    text-align: center;
}

/* Contact Section */
  #contact {
    background-color: #f4f7fc;
    padding: 50px 20px;
    text-align: center;
}

#contact h2 {
    color: #000000;
    margin-bottom: 25px;
}

  form {
    width: 70%;
    margin: 0 auto;
  }
  
  label {
    margin: 8px 0 5px;
    font-weight: bold;
  }
  
  input, textarea {
    border: 1px solid #004aad;
    padding: 10px;
    border-radius: 4px;
  }
  
  textarea {
    height: 80px;
    resize: none;
  }
  
  button {
    background-color: #004aad;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #003580;
  }

/* Back to Top Button */  
  .top-btn {
    background-color: #004aad;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
  }
  #button {
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    
    background-color: #004aad;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    z-index: 1000; 
}
  .top-btn:hover {
    background-color: #003580;
  }